<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="https://i.postimg.cc/qvy85Dbn/imglink.png" alt="img logo" class="img-fluid">
            <h1>Favorite Links</h1>
            <h4>Sotore your links</h4>
            <a href="/signup" class="btn btn-primary" style="background-color: #B3541E">get Started</a>
        </div>
    </header>
</main>