<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <img src="https://i.pinimg.com/564x/bc/df/1d/bcdf1dc5c5f2d1b6665f7f3ea8740ec7.jpg" alt="logo login" class="card-img-top mx-auto rounded-circle w-50">
                    <form action="/login" method="post"> 
                        <div class="form-group">
                            <input type="text" name="username" placeholder="User Name" class="form-control" required >
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control" required >
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>