<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center" style="background-color: #FFEDED">
                <div class="card-header">
                    <h4>Sign Up</h4>
                </div>
                <div class="card-body">
                    <form action="/signup" method="post"> 
                        <div class="form-group">
                            <input type="text" name="fullname" placeholder="Full Name" class="form-control" required >
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="User Name" class="form-control" required >
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control" required >
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success btn-block" style="background-color: #B3541E">Signup</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>